.headerImage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("./HeaderImage.png") no-repeat center;
    background-size: cover;
    height: 100%;
}

#btn-stream, #btn-channel {
    margin-right: auto;
}

#text-content {
    line-height: 1;
    color: white;
    top: 20%;
    left: 3%;
    /* margin: 176px 90px; */
    position: absolute;
}

#btn-group button {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.banner-social {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    color: white;
    bottom: 13%;
    position: absolute;
    background-color: #c60c31;
    width: 100%;
}

.banner-section {
    font-size: 40px;
}

.banner-social i {
    margin-right: 4px;
}

.banner-social a {
    color: white;
}

.banner-social a:hover {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 853px) {
    .banner-social {
        padding: 28px;
    }
}

@media only screen and (max-width: 829px) {
    .banner-social {
        bottom: 0%;
    }
}

@media only screen and (max-width: 767px) {
    .banner-social {
        padding: 13px;
        bottom: -3%;
    }

    a.banner-section {
        font-size: 24px;
    }
}

.banner-social a:hover {
    color: white;
    text-decoration: none;
    background-color: #e2123cb5;
}

a.banner-section {
    padding: 47px 26px;
}