.headerImage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("./HeaderImage.png") no-repeat center;
    background-size: cover;
    height: 100%;
}

#btn-stream, #btn-channel {
    margin-right: auto;
}

#text-content {
    line-height: 1;
    color: white;
    top: 20%;
    left: 3%;
    /* margin: 176px 90px; */
    position: absolute;
}

#btn-group button {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}
